@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary: crimson;
  --dark: #1f2937;
  --darker: #111827;
  --light: #f3f4f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--dark);
  color: var(--light);
}

.watch {
  text-align: center;
  background-color: var(--darker);
  width: 100%;
  max-width: 440px;
  margin: 4rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.time {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  /* remove all styling before */
  appearance: none;
  background: none;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;

  color: var(--light);
  font-size: 1.125rem;
  background-color: var(--primary);
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  transition: 0.4s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  background-color: var(--dark);
}
